<form method="post" enctype="multipart/form-data">
    {% for field in form %}
        {% if field.type == "SubmitField" or field.type == "CSRFTokenField" %}
            <!-- Don't display a label -->
            {{ field }}<br>
        {% else %}
            {{ field.label }}<br>
            {{ field }}<br>
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}<br>
        {% endif %}
    {% endfor %}
</form>